<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>107595304563-bds9q1kc85u32vvrp5ei81dgcdajcoro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107595304563-bds9q1kc85u32vvrp5ei81dgcdajcoro</string>
	<key>API_KEY</key>
	<string>AIzaSyB9oDD4m7sJE9TzsIiu1ztoCs3u1awNw60</string>
	<key>GCM_SENDER_ID</key>
	<string>107595304563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simplemail.simpleemail</string>
	<key>PROJECT_ID</key>
	<string>simpleemailsample</string>
	<key>STORAGE_BUCKET</key>
	<string>simpleemailsample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:107595304563:ios:eccccf63d4ee562c</string>
	<key>DATABASE_URL</key>
	<string>https://simpleemailsample.firebaseio.com</string>
</dict>
</plist>